.footer{
    background-color: #535971;
    padding: 1em 0;
    margin-top: 5rem;
    width: 100%;
    position: absolute;
}
@media (min-width:768px) {
    .contenido{
        display: flex;
        justify-content: space-around;
    }
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .nav{
        flex-direction: row;
        gap: 2rem;
    }
}
.nav a {
    font-size: 0.85rem;
    color: #FAFAFA;
    font-weight: 700;
    text-decoration: underline;
}
.nav a:hover{
    color: #53BBB2;
}
.copyright{
    font-size: 0.85rem;
    color: #FAFAFA;
    font-weight: 700;
    text-align: center; 
}