@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');



.h1 {
  font-family: Comfortaa;
}

.containerLogin {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;

}

.test {
  display: none;
}
